autostart/
BraveSoftware/
Cacher/
chromium/
coc/
configstore/
dconf/
Dharkael/
discord/
falkon/
fragments/
gedit/
GitKraken/
google-chrome/
google-chrome-beta/
google-chrome-unstable/
gsconnect/
gthumb/
gtk-3.0/
gtk-4.0/
hexchat/
htop/
ibus/
Kvantum/
manjaro-hello.json
mimeapps.list
monitors.xml
nautilus/
neofetch/
omf/
pamac/
pulse/
PulseEffects/
qt5ct/
QtProject.conf
ranger/
spotify/
StarUML/
Trolltech.conf
zoomus.conf
VirtualBox/
user-dirs.locale
user-dirs.dirs
Unknown Organization/
GIMP/
Slack/
balena-etcher/
whatsapp-for-linux/
whatsapp-nativefier-d40211/
lsp-plugins/
pipewire-media-session/
gcloud/
Caprine/
Popcorn-Time/
gtk-2.0/
libfm/
nitrogen/
pavucontrol.ini
pcmanfm/
kdeglobals
okularpartrc
okularrc
flameshot/
menus/
teamviewer/
Thunar/
arcolinux-tweak-tool/
arcolinux-welcome-app/
arcologout/
conky/
fontconfig/
galculator/
gsimplecal/
nano/
nomacs/
termite/
variety/
vlc/
volumeicon/
xfce4/
yad.conf
Code/
Joplin/
autorandr/
joplin-desktop/
joplin/
polybar/scripts/check-all-updates.sh
darktable/
libreoffice/
obs-studio/
ristretto/
nvim/autoload/plugged/**/**

nvim/autoload/plugged/
tags
